.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
    
}

@media screen and (max-width: 770px) {
  .header {
  font-size: 12px;
  }
}