.header__toggle {
  opacity: 0;
}

.header__toggle:checked ~ .header__burger > span {
  transform: rotate(45deg);
}
.header__toggle:checked ~ .header__burger > span::before {
  top: 0;
  transform: rotate(0);
  }
.header__toggle:checked ~ .header__burger > span::after {
  top: 0;
  transform: rotate (90deg);
}
